@model SYNCTask.ViewModels.NewsFormViewModel

@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 style="text-align:center;font-size:x-large">@Model.Heading</h2>
<div class="container">
    @using (Html.BeginForm(Model.Action, "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p class="alert alert-info">All fields are <strong>required</strong></p>
        <div class="alert alert-danger" id="err-div" style="display:none">
            <span id="view-err">

            </span>
        </div>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Image)
        @Html.HiddenFor(m => m.CreationDate)
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "autofocus" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            @*<div class="form-group">
                @Html.LabelFor(m => m.CreationDate)
                <input class="form-control" type="text" placeholder="@Model.CreationDate" readonly>
                @Html.ValidationMessageFor(m => m.CreationDate)
            </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.PublicationDate)
                @Html.TextBoxFor(m => m.PublicationDate, new { @class = "form-control", placeholder = "eg 1 jan 2020" })
                @Html.ValidationMessageFor(m => m.PublicationDate)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewsDescription)
                @Html.TextAreaFor(m => m.NewsDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewsDescription)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Author)
                @Html.DropDownListFor(m => m.Author, new SelectList(Model.Authors, "Id", "Name"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Author)
            </div>
            <button type="submit" class="btn btn-primary btn-lg" id="save">Save</button>
            
            <a class="btn btn-default btn-lg" href="@Url.Action("Mine","News")">Cancel</a>
        </div>
        <div class="col-md-6">
            <div class="form-group">
              
                <div class="col-md-10">
                    @Html.LabelFor(m => m.Image, new { @class = "control-label col-md-2" })
                    <img src="~/Images/@Url.Content(Model.Image)" class="img-rounded" style="margin:10px" height="200" width="200" id="imagepreview" />
                    <input type="file" name="ImageUpload" accept="image/jpeg,image/png" id="newsimage"  onchange="ShowImagePreview(this,document.getElementById('imagepreview'))" />
                    @Html.ValidationMessageFor(m => m.Image)
                </div>
            </div>

        </div>
    


    }
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
                function ShowImagePreview(imageUploader, previewImage) {
                    if (imageUploader.files && imageUploader.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $(previewImage).attr('src', e.target.result);
                            
                        }
                        
                        reader.readAsDataURL(imageUploader.files[0]);
                    }
                }
                //$(function () {
                //    $("#save").click(function () {
                //        if ($("#newsimage").val() == "") {
                //            $("#err-div").fadeIn();
                //            $("#view-err").append("Please Select a Photo");
                //            return false;
                //        }
                //    })
                //})
    </script>
}